$textColor: #8A2BE2;
$siteWidth: 1200px;
$classicGap: 16px;
$classicBorder: 1px solid #000;
$var1: #222222;
$var2: #F1E4E6;
$var3: #F16D7F;
$var4: #FFFFFF;
$var5: #9F9F9F;
$var6: #F8F8F8;
$var7: #000000;
$var8: #5D5D5D;
$var9: #ffffff;
$var10: #F26376;
$var11: #FF6A6A;
$var12: #FBFBFB;
$var13: #222224;
$var14: #E1E1E1;
$var15: #F8F3F4;
$var16: #636363;
$var17: #F16D7f;
$var18: #EBEBEB;
$var19: #6F6E6E;
$var20: #F7F7F7;
$var21: #EAEAEA;
$var22: #EF5B70;
$var23: #4D4D4D;
$var24: #5E5E5E;
$var25: #575757;
$var26: #656565;
$var27: #B1B1B1;
$var28: #4A4A4A;
$var29: #A4A4A4;
$var30: #F5F3F3;
$var31: #E2E2E2;